name: Main

on:
  push:
    branches:
    - '1.18'
    tags:
    - 'v*'
  pull_request:
    branches:
    - '1.18'

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2
      
    - name: Validate gradle wrapper
      uses: gradle/wrapper-validation-action@v1

    - name: Setup jdk 17
      uses: actions/setup-java@v2
      with:
        distribution: adopt
        java-version: 17

    - name: Make gradle wrapper executable
      run: chmod +x ./gradlew
      
    - name: Build
      run: ./gradlew build

    - name: Upload Fabric Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: fabric-artifacts
        path: fabric/build/libs/

    - name: Upload Forge Artifacts
      uses: actions/upload-artifact@v2
      with:
        name: forge-artifacts
        path: forge/build/libs/

    - name: Read Project Version
      id: read_project_version
      uses: christian-draeger/read-properties@1.0.1
      if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'SNAPSHOT')
      with:
        path: ./gradle.properties
        property: projectBaseVersion
    
    - name: Read Minecraft Version
      id: read_mc_version
      uses: christian-draeger/read-properties@1.0.1
      if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'SNAPSHOT')
      with:
        path: ./gradle.properties
        property: mcVersionFull

    - name: Read Changelog
      id: read_changelog
      shell: bash
      run: |
        CHANGELOG=$(sed '/===/Q' changelog.txt | grep -)
        echo "Changelog:\n$CHANGELOG"
        CHANGELOG="${CHANGELOG//'%'/'%25'}"
        CHANGELOG="${CHANGELOG//$'\n'/'%0A'}"
        CHANGELOG="${CHANGELOG//$'\r'/'%0D'}" 
        echo "::set-output name=changelog::$CHANGELOG"
      if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'SNAPSHOT')
      
    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'SNAPSHOT')
      with:
        tag_name: ${{ github.ref }}
        release_name: Release ${{ steps.read_project_version.outputs.value }} for Minecraft ${{ steps.read_mc_version.outputs.value }}
        body: ${{ steps.read_changelog.outputs.changelog }}
        draft: false
        prerelease: ${{ contains(github.ref, 'alpha') || contains(github.ref, 'beta') }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Release Artifacts
      uses: Roang-zero1/github-upload-release-artifacts-action@master
      if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'SNAPSHOT')
      with:
        args: |
          fabric/build/libs/
          forge/build/libs/
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Curseforge Publish
      run: ./gradlew curseforge
      if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'SNAPSHOT')
      env:
        CURSE_API_KEY: ${{ secrets.CURSE_API_KEY }}

    - name: Modrinth Publish
      run: ./gradlew modrinth
      if: startsWith(github.ref, 'refs/tags/v') && !contains(github.ref, 'SNAPSHOT')
      env:
        MODRINTH_TOKEN: ${{ secrets.MODRINTH_TOKEN }}

    - name: Maven Publish
      run: ./gradlew publish
      if: startsWith(github.ref, 'refs/tags/v')
      env:
        MAVEN_USER: ${{ secrets.MAVEN_USER }}
        MAVEN_PASS: ${{ secrets.MAVEN_PASS }}
        MAVEN_REPO: ${{ secrets.MAVEN_REPO }}
        MAVEN_SNAPSHOT_REPO: ${{ secrets.MAVEN_SNAPSHOT_REPO }}
        ORG_GRADLE_PROJECT_signingKey: ${{ secrets.SIGNING_KEY }}
        ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.SIGNING_PASS }}
